.tblRow{
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    border-style: solid black;
}
.tblRow1{
    width: 100%;
    height: 50px;
}

.fillTimesheet{
    width:96%; 
    text-align:center;
    margin-left: 2%;
}
.fullTimesheet{
    width:100%; 
    text-align:center;
    margin-bottom: 2%;
    background-color: white;
}
.column1{
    width:10%;
}
.column2{
    width: 20%;
}

.addTimesheet{
    margin-left: 10px;
    display: inline-block;
    height:35px;
}

.addTimesheet2{
    margin: 10px;
    display: inline-block;
    height:35px;
}
.scheduleAbsences{
    margin-left: 10px;
    display: inline-block;
    height:35px;
}
.search{
    margin-left: 10px;
    display: inline-block;
}
.gap{
    margin-left: 10px;
    display: inline-block;
}
.image{
    width: 35px;
    height: 35px;
}
#buttonDeleteRow{
    float: right;
    margin-right: 2%;
    /* background-color: #f2f2f2; */
    margin-top: 1%;
    margin-bottom: 1%;
    background:#0974F4 url(/assets/images/cancel_ac.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    width: 100%;
}
.row1{
    float: left;
    width: 100%;
    color: darkgrey;
    text-align: right;
    font-size: 14px;
    height: 12px;
}
.row2{
    float: right;
    width: 100%;
    color: #f2f2f2;
    text-align: left;
    font-size: 14px;
    height: 14px;
}
.personaldetails{
    background-color: #0974F4;
    width: 100%;
    
}
.timesheetScreen{
    background-color: #FFFFFF;
    width: 90%;
    margin-left: 5%;
}
#buttonCancel{
    float: right;
    margin-right: 3%;
    /* background-color: #f2f2f2; */
    margin-top: 1%;
    margin-bottom: 1%;
    background:url(/assets/images/cancel_ac.png);
    background-position: 20px 8px;
    background-repeat: no-repeat;
    width: 13%;
}
#buttonClear{
    float: right;
    margin-right: 3%;
    /* background-color: #f2f2f2; */
    margin-top: 1%;
    margin-bottom: 1%;
    width: 10%;
    background:url(/assets/images/clear_ac.png);
    background-position: 20px 8px;
    background-repeat: no-repeat;
}
#buttonSave{
    float: right;
    margin-right: 3%;
    /* background-color: #f2f2f2; */
    margin-top: 1%;
    margin-bottom: 1%;
    width: 10%;
    background:url(/assets/images/save_ac.png);
    background-position: 20px 8px;
    background-repeat: no-repeat;
}
#buttonSubmit{
    float: right;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    /* background: url(/assets/images/username.png) no-repeat scroll; */
    /* padding: 8px 8px 8px 14px; */
    /* font-family: Arial, Verdana;    */
    background: #0974F4 url(/assets/images/submit.png);
    background-position: 20px 8px;
    background-repeat: no-repeat;
    width: 13%;
}
#buttonAdd{
    float: left;
    margin-left: 6%;
    margin-top: 1%;
    margin-bottom: 1%;
    /* background: url(/assets/images/username.png) no-repeat scroll; */
    /* padding: 8px 8px 8px 14px; */
    /* font-family: Arial, Verdana;    */
    background: #0974F4 url(/assets/images/new_entry.png);
    background-position: 20px 5px;
    background-repeat: no-repeat;
    border-style: none;
    width: 13%;
}
.loginMessage {
    text-align: center;
    color: red;
}
.details-timesheet{
    border: 2px #f2f2f2;
    width: 100%;
    height: 880px;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #EAEFF3;
}
.head{
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    margin-left: 5%;
}