.details-timesheet{
    border: 2px #f2f2f2;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 880px;
}
.head{
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    margin-left: 5%;
    float: left;
    margin-bottom: 10px;
}
.personaldetails{
    background-color: dodgerblue;
    width: 90%;
    margin-left: 5%;
    margin-top:2%;
}
.selectEmployee{
    margin-right: 5%;
    float: right;
    margin-bottom: 10px;
}
.background{
    width:100%;
    background-color:white;
}

.row1{
    float: left;
    width: 100%;
    color: darkgrey;
    text-align: right;
    font-size: 14px;
    height: 12px;
}
.row2{
    float: right;
    width: 100%;
    color: #f2f2f2;
    text-align: left;
    font-size: 14px;
    height: 14px;
}
.upSection{
    margin-top: 3%;
    margin-bottom: 10px;
    display: block;
}
#reviewedMsg{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    color: red;
    display: block;
}
.viewtimesheet{
    width:90%;
    height:50%;
    text-align: center;
    background-color:white;
    margin-left: 5%;
    margin-right: 0%;
    margin-bottom:1%;
}
.tblTimesheet{
  
    margin: auto;
    border-collapse: collapse;
    width: 95%;
    margin-top:2%;
    color:black;
    margin-bottom: 2%;
}
.tblRow{
    border: 2px solid  rgb(102, 97, 97);
    border-left-style: none;
    border-right-style: none;
    width: 20%;
    text-align: center;
}
.tblRow1{
    border: 2px solid  rgb(102, 97, 97);
    border-left-style: none;
    border-right-style: none;
    width: 10%; 
    text-align: center;
}
#buttonCancel{
    float: right;
    margin-right: 5%;
    /* background-color: #f2f2f2; */
    margin-top: 1%;
    margin-bottom: 1%;
    background:url(/assets/images/cancel_ac.png);
    background-position: 20px 8px;
    background-repeat: no-repeat;
    width: 10%;
}
#buttonReject{
    float: right;
    margin-right: 3%;
    /* background-color: #f2f2f2; */
    margin-top: 1%;
    margin-bottom: 1%;
    width: 10%;
    background:url(/assets/images/reject.png);
    background-position: 20px 4px;
    background-repeat: no-repeat;
}
#buttonApprove{
    float: right;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    /* background: url(/assets/images/username.png) no-repeat scroll; */
    /* padding: 8px 8px 8px 14px; */
    /* font-family: Arial, Verdana;    */
    background: #0974F4 url(/assets/images/appove.png);
    background-position: 20px 8px;
    background-repeat: no-repeat;
    width: 10%;
}
.loginMessage {
    text-align: center;
    color: red;
}
