<div class="backimage">
    <div class="container-fluid" id="loginContainer">
        <div class="row" *ngIf="this.btnStatus">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p class="loginMessage">{{this.message}}</p>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div>
        <!-- <img src="/assets/images/bg_effect.png" class="login_image"> -->
        <div class="caption">
            <div class="pms-heading">PMS</div>
            <div class="pms-brief">Project Management System</div>
            <hr class="rectangle" style="height: 10px;width:200px;background-color: #dff621;">
        </div>
        <div class="form">
            <div class="welcome-note">Welcome Back</div>
            <div class="login-statement">Please login to continue</div>
            <form (submit)="onLoginEmp(LoginEmp)" #LoginEmp="ngForm">
                <div class="Email">
                <input type="email" id="inputEmail" placeholder="User ID" email="true" name="empEmail" ngModel #empEmail="ngModel" required autofocus>
                </div>
                <div class="Password">
                <input type="password" id="inputPassword" placeholder="Password" name="empPassword" passwordToggle ngModel #empPassword="ngModel" required>
                
  
                </div>
                <div (click)="forgotPass()" class="lnkForgot">Forgot Password ?</div>
                <button type="submit" class="btnSubmit">Sign In</button>
            </form>
        </div>
    </div>